<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}Pedro Lourega | Portfólio{% endblock %}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
 <header class="nav">
  <a class="logo" href="/">Pedro Lourega</a>

  <button class="menu-btn" id="menuBtn" aria-label="Abrir menu" aria-expanded="false">
    <span class="menu-icon"></span>
  </button>

  <nav class="links" id="navLinks">
    <a href="/">Home</a>
    <a href="/projects">Projetos</a>
    <a href="/about">Sobre</a>
    <a href="/contact">Contato</a>
  </nav>
</header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <span>© {{ 2026 }} Pedro Lourega</span>
  </footer>
</body>
</html>
